
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body{

    font-family: "Lexend Deca", sans-serif;
    font-weight: 100;

}



.pattern {
  background-color: #e5e5f7;
  opacity: 1;
  /* background-attachment: fixed; */
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 100px), repeating-linear-gradient(#c1c4ff55, #c1c4ff22);
}

h1 {
  background: -webkit-linear-gradient(#ff35a1, #c9217a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rotate-360 {
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}

.rotate-360:hover {
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
}